.searchbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5rem 0;
}

.searchbar-submit {
    margin-left: 1rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    padding: 0.25em 0.75em;
    transition: all 0.3s ease;
}

.searchbar-submit:hover {
    background: #fff;
    color: #000;
}

.searchbar-submit:active {
    transform: scale(0.8);
}